<div class="container">
  <header role="banner">
    <!-- Titolo + piccola descrizione -->
    <h1>AskMeToDo</h1>
      
    <p>
      {{'description.pt1' | translate}}
      <br />
      {{'description.pt2' | translate}}
      <br /><br />
      {{'description.pt3' | translate}}
      <br />
      {{'description.pt4' | translate}}
    </p>
  </header>

  <main role="main">
    <!-- Input + bottone aggiunta voci -->
    <div class="insert-item-container">
      <mat-form-field appearance="fill" style="flex: 1;" [matTooltip]="'matTooltip.input' | translate">
        <input matInput maxlength="40" [(ngModel)]="newTodoTitle" 
               [placeholder]="'placeholder.input' | translate" 
               (keyup.enter)="addTodo()"/>
      </mat-form-field>

      <button mat-flat-button color="primary" [disabled]="!newTodoTitle.trim()" 
              [matTooltip]="'matTooltip.addItem' | translate" 
              (click)="addTodo()">
        <mat-icon aria-hidden="true">add</mat-icon>
      </button>
    </div>

    <!-- Lista delle voci inserite + bottone rimozione voci -->
    <div class="item-list-container" *ngIf="todolist$ | async as todolist">
      <h2>ToDo</h2>

      <p *ngIf="todolist.length === 0">{{'list.empty' | translate}}</p>

      <div class="item-list">
        <div *ngFor="let item of todolist; let i = index" class="item">
          <p>
            {{item}}
          </p>

          <button mat-flat-button color="primary" 
                  [matTooltip]="'matTooltip.removeItem' | translate" 
                  (click)="removeTodo(i)">
            <mat-icon aria-hidden="true">remove</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- Bottoni di selezione della lingua -->
    <div class="lang-container" *ngIf="currentLang$ | async as currentLang">
      <button mat-raised-button 
              class="lang-btn" [ngClass]="{ 'active-lang': currentLang === LANG_IT }" color="primary" 
              [matTooltip]="'lang.changeTo.it' | translate" 
              (click)="changeLang(LANG_IT)">
        {{'lang.it.short' | translate}}
      </button>
      
      <button mat-raised-button 
              class="lang-btn" [ngClass]="{ 'active-lang': currentLang === LANG_EN }" color="primary" 
              [matTooltip]="'lang.changeTo.en' | translate" 
              (click)="changeLang(LANG_EN)">
        {{'lang.en.short' | translate}}
      </button>
    </div>
  </main>

  <footer role="contentinfo">
    <!-- Firma in fondo all'app -->
    {{'description.footer' | translate}}
  </footer>
</div>